@model WebStore.Models.OrderDetailsViewModel
@{
    ViewData["Title"] = "Корзина";
}

<section id="cart_items">
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Shopping Cart</li>
        </ol>
    </div>
    <div class="table-responsive cart_info">
        <table class="table table-condensed">
            <thead>
                <tr class="cart_menu">
                    <td class="image">Item</td>
                    <td class="description"></td>
                    <td class="price">Price</td>
                    <td class="quantity">Quantity</td>
                    <td class="total">Total</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
            @{
                var sumCart = 0m;
            }
            @foreach (var item in Model.CartViewModel.Items)
            {
                sumCart += (item.Value * item.Key.Price);
                <tr>
                    <td class="cart_product">
                        <a href="">
                            <img src="~/images/shop/@item.Key.ImageUrl" alt="">
                        </a>
                    </td>
                    <td class="cart_description">
                        <h4>
                            <a asp-action="ProductDetails"
                               asp-controller="Catalog"
                               asp-route-id="@item.Key.Id">

                                @item.Key.Name
                            </a>

                        </h4>
                        <p>Web ID: 1089772</p>
                    </td>
                    <td class="cart_price">
                        <p>@(item.Key.Price.ToString("C"))</p>
                    </td>
                    <td class="cart_quantity">
                        <div class="cart_quantity_button">
                            <a asp-controller="Cart"
                               asp-action="AddToCart"
                               asp-route-id="@item.Key.Id"
                               asp-route-returnUrl="@Context.Request.Path"
                               class="cart_quantity_up"> +
                            </a>

                            <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                            <a asp-controller="Cart"
                               asp-action="DecrementFromCart"
                               asp-route-id="@item.Key.Id"
                               class="cart_quantity_down"> -
                            </a>
                        </div>
                    </td>
                    <td class="cart_total">
                        @((item.Value * item.Key.Price).ToString("C"))
                    </td>
                    <td class="cart_delete">
                        <a class="cart_quantity_delete"
                           asp-controller="Cart"
                           asp-action="RemoveFromCart"
                           asp-route-id="@item.Key.Id">
                            <i class="fa fa-times"></i>
                        </a>

                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

</section> <!--/#cart_items-->

<section id="do_action">

    <div class="heading">
        <h3>Оформите заказ</h3>
    </div>
    @Html.Partial("_OrderPartial", Model.OrderViewModel,
        new ViewDataDictionary(ViewData) { { "sumCart", sumCart } })

</section><!--/#do_action-->
