@model WebStore.DomainNew.ViewModels.SectionCompleteViewModel

<h2>Category</h2>
<div class="panel-group category-products" id="accordian">
    <!--category-products-->

    @foreach (var parentSection in Model.Sections)
    {
        if (parentSection.ChildCategories.Count > 0)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian"
                           href="#@parentSection.Name.ToLower()">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            @parentSection.Name
                        </a>
                    </h4>
                </div>
                <div id="@parentSection.Name.ToLower()"
                     class="panel-collapse
                        collapse @(parentSection.Id == Model.CurrentParentSectionId ? "in":null)">
                    <div class="panel-body">
                        <ul>
                            @foreach (var childSection in parentSection.ChildCategories)
                            {
                                <li @(childSection.Id == Model.CurrentSectionId ? "class=active" : null)>
                                    <a asp-controller="Catalog"
                                       asp-action="Shop"
                                       asp-route-sectionId="@childSection.Id">
                                        @childSection.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
        else
        {
            var isActiveCssClass = (parentSection.Id == Model.CurrentSectionId) ? "active" : "";

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title @isActiveCssClass">
                        <a asp-controller="Catalog"
                           asp-action="Shop"
                           asp-route-sectionId="@parentSection.Id">
                            @parentSection.Name
                        </a>
                    </h4>
                </div>
            </div>
        }
    }

</div><!--/category-products-->
