@model WebStore.Models.EmployeeViewModel
@{
    //Layout = null;
    ViewData["Title"] = "Детали....";
}

<h1>Details</h1>

@*@Html.DisplayForModel()*@
@*@Html.EditorForModel()*@

@Html.ActionLink("Назад к списку", "Index", "Employee")

<table class="table table-bordered">
        <tr>
            <td>Id</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Фамилия</td>
            <td>@Model.SurName</td>
        </tr>
        <tr>
            <td>Имя</td>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <td>Отчество</td>
            <td>@Model.Patronymic</td>
        </tr>
        <tr>
            <td>Возраст</td>
            <td>@Model.Age</td>
        </tr>
        <tr>
            <td>Должность</td>
            <td>@Model.Position</td>
        </tr>
    </table>
